.logo{
   transform: rotate(-40deg);
animation: logo 1s infinite running normal;
}
.logo div{
    height: 5px;
    width: 95%;
    border-bottom: 1px solid white;
    margin:0 auto;
}

/* @keyframes logo {
    0%{
        width: 70px;
     transform: rotate(80deg);
     transition: 0.9s ease-in;
    }
} */